@font-face {
    font-family: whoa;
    src: url(/static/fonts/whoa.ttf);
}

.brand-logo {
  font-family: whoa;
  font-weight: bold;
}

.list-name {
  color: black;
}

.profile-edit-container .avatar > .current{
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
}

.profile-edit-container .avatar > .current > img{
    width: 100%;
}

.profile-edit-container .avatar {
    border: 1px solid #ccc;
    padding:10px;
}
