<section class="messages-container">
  <h4>Messages Page</h4>
  <div class="row">
    <form class="row" ng-submit="sendMessage()">
      <div class="input-field col s6">
        <input id="message" type="text" class="validate" ng-model="tmpMessage.content">
        <label for="message">Message Text</label>
      </div>
      <div class="input-field col s6">
        <button type="submit" class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
       </button>
      </div>
    </form>

    <div class="col s12">
      <ul class="collection">
        <li class="collection-item avatar grey lighten-4" ng-repeat="message in messages">
          <img ng-if="message.author.avatar" ng-src="{{ message.author.avatar }}" alt="" class="circle">
          <img ng-if="!message.author.avatar" ng-src="https://uxcam.com/images/join-uxcam.png" alt="" class="circle">
          <span class="title"><a href="/#/profile/{{ message.author._id }}">{{ message.author.username }}</a></span>
          <span class="title">{{ message.created }}</span>
          <p>
            {{ message.content }}
          </p>
          <a href="" ng-show="message.author._id === $parent.user._id" ng-click="deleteMessage(message._id)" class="secondary-content"><i class="material-icons">delete</i></a>
        </li>
      </ul>
    </div>
  </div>
<script src="/socket.io/socket.io.js"></script>
</section>
