<section class="messages-container">
  <h4>Messages Page</h4>
  <div class="row">
    <form class="row" ng-submit="sendMessage()">
      <div class="input-field col s6">
        <input id="message" type="text" class="validate" ng-model="tmpMessage.content">
        <label for="message">Message Text</label>
      </div>
      <div class="input-field col s6">
        <button type="submit" class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
       </button>
      </div>
    </form>

    <div class="col s12">
      <ul class="collection">
        <span ng-show="messages.length == 0">No Messages Yet !</span>
        <li class="collection-item row chat" ng-repeat="message in messages | orderBy:'-'">
          <div class="username col s2"><b>{{ message.author.username }}</b></div>
          <div class="content col s10">{{ message.content }}</div>
        </li>
      </ul>
    </div>
  </div>
<script src="/socket.io/socket.io.js"></script>
  <script src="./static/js/ws/chat.js"></script>
</section>
