<section class="login-container">
  <h4>Profile Page ({{ tmpUser.username }})</h4>
  <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">User Information</span>
            <div class="card-content">
              <div class="user-avatar">
                <img ng-show="tmpUser.avatar" src="{{ tmpUser.avatar }}"/>
                <img ng-hide="tmpUser.avatar" src="https://uxcam.com/images/join-uxcam.png"/>
              </div>
              <p>Username   : <b>{{ tmpUser.username }}</b></p>
              <p>Email      : <b>{{ tmpUser.email }}</b></p>
              <p>First Name : <b>{{ tmpUser.first_name }}</b></p>
              <p>Last Name  : <b>{{ tmpUser.last_name }}</b></p>
              <p>Friends    : <b>{{ tmpUser.friends_list.length }}</b></p>
            </div>

            <span class="card-title">Followers</span>
            <div class="card-content">
              <span ng-hide="tmpUser.followers.length > 0">No Followers Yet</span>
              <ul class="collection" ng-show="tmpUser.followers.length > 0">
                <li class="collection-item dismissable" ng-repeat="user in tmpUser.followers">
                  <div>
                    <span class="list-name">{{ user.username }}</span>
                    <a href="/#/profile/{{ user._id }}" class="secondary-content">
                      <i class="material-icons">send</i>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-action">
            <!-- Profile Edit -->
            <a ng-show="$parent.user._id === tmpUser._id" href="/#/profileedit">Edit Profile</a>
            <!-- Follow Status -->
            <a ng-show="!following && $parent.user._id !== tmpUser._id" ng-click="follow(tmpUser._id)" href="">Follow</a>
            <a ng-show="following  && $parent.user._id !== tmpUser._id" ng-click="unfollow(tmpUser._id)" href="">Unfollow</a>
            <!-- Friends Status -->
            <a ng-show="$parent.user._id !== tmpUser._id && is_friend($parent.user, tmpUser) === 0" ng-click="remove_friend(tmpUser._id)" href="">Pending Friend</a>
            <a ng-show="$parent.user._id !== tmpUser._id && is_friend($parent.user, tmpUser) === -1" ng-click="add_friend(tmpUser._id)" href="">Add Friend</a>
            <a ng-show="$parent.user._id !== tmpUser._id && is_friend($parent.user, tmpUser) === 1" ng-click="remove_friend(tmpUser._id)" href="">Remove Friend</a>
          </div>
        </div>
      </div>
    </div>

  <div class="row new-album" ng-if="tmpUser._id === $parent.user._id">
    <h3>New Album</h3>
    <form class="col s12" ng-submit="submitAlbum()">
      <div class="row">
        <div class="input-field col s8">
          <input id="album_name" type="text" class="validate" ng-model="album.name">
          <label for="album_name">Album Name</label>
        </div>
        <div class="input-field col s4">
          <button type="submit" class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
